html,
body,
#app {
    height: 100%;
    margin: 0;
}

#app {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box {
    height: 60px;
    width: 300px;
    margin: 5px;
}

.red {
    background-color: red;
    order: 1;
}

.pink {
    background-color: #f0f;
    order: 2;
}

.blue {
    background-color: #00f;
    order: 0;
}